In [2]:
#taking input in python
#input function returns string
name=input("What is your name? ");
print("Hi! " , name);

What is your name?Amna
Hi!  Amna

In [3]:
#data types
a=10
b=1.1
c="double quoted string"
d='single quoted string'
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'str'>

In [5]:
value=10+10
print(value)

20

In [9]:
number=input("Enter any integer number : ")
print(type(number))
result=int(number)+10
print(result)

Enter any integer number : 123
<class 'str'>
133

In [10]:
text="I am Amna Azam."
print(len(text))

15

In [11]:
str = "Amna"+" Azam"
print(str)

Amna Azam

In [12]:
print("Amna "*10)

Amna Amna Amna Amna Amna Amna Amna Amna Amna Amna

In [13]:
#slicing
name="Amna Azam"
print(name[0:4])          #name[0],name[1],name[2],name[3]

Amna

In [14]:
name="AMNA AZAM"
name=10
print(type(name))

<class 'int'>

In [15]:
name="AMNA AZAM"
name=name.lower();
print(name)

amna azam

In [16]:
name="amna azam"
name=name.upper()
print(name)

AMNA AZAM

In [17]:
name="amna azam"
name = name.capitalize()
print(name)

Amna azam

In [18]:
name="amna azam"
name=name.title()
print(name)

Amna Azam

In [20]:
name = "amna azam"
name.replace('a','A')
print(name)

amna azam

In [21]:
name = "Amna azam"
name = name.replace('a','A')
print(name)

AmnA AzAm

In [26]:
name="amna azam"
name=name.replace("a","A",0)             #0=count of occurances
print(name)

amna azam

In [28]:
name="amna azam"
name=name.replace("a","A",1)             #1=fist 1 occurance
print(name)

Amna azam

In [29]:
name="amna azam"
name=name.replace("a","A",2)             #2=fist 2 occurance
print(name)

AmnA azam

In [31]:
name="Amna Azam"
name=name.split(' ');
print(name)
print(type(name))

['Amna', 'Azam']
<class 'list'>

In [32]:
name="Amna Azam"
isAmna = "Amna" in name                #is Amna is in string
print(isAmna)

True

In [37]:
firstName="Amna"
lastName="Azam"
myText="I am {} {}"
print(myText.format(firstName,lastName))

I am Amna Azam

In [41]:
num=2.09876123738
print("rounded value: ",round(num))
myStr="This num's accuracy is {:.2f}"
print(myStr.format(num))

rounded value:  2
This num's accuracy is 2.10

In [44]:
x=3
y=3
print(x==y)
x=3
y=4
print(x<y and x==3)
print(x<y or x==2)

True
True
True